@import "tailwindcss";

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
}

@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sugar";
  src: url("../assets/fonts/White-Sugar.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Quicksand";
  font-weight: 600;
  font-style: normal;
  font-size: 37;
}

h2 {
  font-family: "Quicksand";
  font-weight: 400;
  font-style: normal;
  font-size: 28;
}

h3 {
  font-family: "Quicksand";
  font-weight: 400;
  font-style: normal;
  font-size: 20;
}

h4 {
  font-family: "Quicksand";
  font-weight: 400;
  font-style: normal;
  font-size: 17;
}

h5 {
  font-family: "Quicksand";
  font-weight: 600;
  font-style: normal;
  font-size: 15;
}

h6 {
  font-family: "Quicksand";
  font-weight: 500;
  font-style: normal;
  font-size: 15;
}

span {
  font-family: "Quicksand";
  font-weight: 400;
  font-style: normal;
  font-size: 13;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue100: #cfe7fc;
  --primary200: #86e99f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --blue100: #cfe7fc;
    --primary200: #86e99f;
  }
}

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --color-blue100: #cfe7fc;
  --color-primary200: #86e99f;
  --color-primary500: #02a959;
  --color-blue700: #0c65b6;
  --color-blue600: #0f7fe5;
  --color-gray100: #f4f5f5;
  --color-gray900: #414853;
  --color-blue50: #f5fafe;
  --color-blue800: #094a86;
  --color-primary50: #f6fef7;
  --color-primary700: #02743d;
  --color-blue900: #06325b;
  --color-yellow500: #f59e0b;
  --color-primary600: #028e4b;
  --font-sugar: "Sugar", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 15;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: "10px !important";
}
